<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>furry friend</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="root">
      

      <div class="container" id="app">
        <form class="form" method="POST" @submit.prevent>
            <h2>Registro</h2>
            <p type="Nombres:"><input placeholder="Ingresa tu nombre.." type="text" required id="nombre" name="nombre"
                v-model="nombres" v-on:keyup.enter="agregarUsuario"></input></p>
          
            <p type="Usuario:"><input placeholder="Ingresa tu nuevo usuario.." type="text" required id="usuario"
                name="usuario" minlength="4" v-model="nuevoUsuario"
                v-on:keyup.enter="agregarUsuario"></input></p>
           
            <button class="boton" type="submit" @click="agregarUsuario" @click="calcularEdad">registro
            </button>
            <a class="boton" href="login.html" >Sign In</a>
        </form>
      
      </div>

    </div>
    <script src="main.js"></script>
  </body>
</html>